.svn
.idea
.gradle
.settings

build
classes
bin
logs
*.tlog
*.log

.project
.classpath

*.ipr
*.iml
*.iws

ssh.ipr
ssh.iml
ssh.iws

#jdbc.properties
#log4j.properties

dump.rdb
/files/redis/windows/Redis-3.2.100/dump.rdb
